.container {
  /* width: 1440px; */
  display: grid;
  min-width: 320px;
  max-width: 428px;
  /* padding: 0 20px 20px 20px; */
  /* position: absolute; */
  /* display: flex; */
  /* gap: 24px;
  flex-direction: row;
  align-items: center; */
  /* margin-left: 100px; */
  /* padding-left: 130px; */
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 769px;
    /* padding: 20px; */
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 376px;
    /* padding: 20px; */
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 320px;
    /* padding: 20px; */
  }
}

.cont {
  width: 1280px;
  background-image: url('/public/cont.png');
  opacity: 0.2;
  height: 1280px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .cont {
    width: 1279px;
    height: 1280px;
  }
}

@media screen and (max-width: 768px) {
  .cont {
    width: 768px;
    /* height: 700px; */
  }
}

@media screen and (max-width: 375px) {
  .cont {
    width: 645px;
    height: 1280px;
  }
}

@media screen and (max-width: 320px) {
  .cont {
    width: 600px;
    height: 1280px;
  }
}

.texth {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  padding-top: 70px;
  width: 1280px;
}

@media screen and (max-width: 1280px) {
  .texth {
    width: 755px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .texth {
    width: 600px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 375px) {
  .texth {
    width: 680px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .texth {
    width: 580px;
    padding-top: 10px;
  }
}

.title {
  width: 1280px;
  font-weight: 600;
  font-size: 50px;
  /* margin-bottom: 24px; */
  line-height: 1.2;
  text-align: center;
  /* margin-right: 50px; */
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .title {
    width: 768px;
    font-size: 48px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    width: 375px;
    font-size: 42px;
  }
}

/* .homeImg {
  width: 450px;
  margin: 0 auto;
} */

/* .video {
  width: 700px;
  height: 400px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 0 50px #9e737d, 0 0 50px #9e737d, 0 0 50px #9e737d,
    0 0 100px #9e737d;
  border: 2px solid red;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
} */

.text {
  font-size: 28px;
  line-height: 1.45;
  color: #7c1448;
  font-weight: 20px;
  text-align: center;
  width: 700px;
}

@media screen and (max-width: 768px) {
  .text {
    width: 500px;
    font-size: 22px;
  }
}

@media screen and (max-width: 375px) {
  .text {
    width: 320px;
    font-size: 16px;
  }
}
