.input {
  height: 30px;
  margin-left: 20px;
  background-color: #ebe9e9;
  width: 300px;
  border-radius: 4px;
  color: rgb(160, 100, 11);
  /* text-align: center; */
}

.text {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 120px;
}
