.input {
  height: 35px;
  background-color: #ffdae2;
  width: 300px;
  border-radius: 8px;
  border-color: #ffdae2;
}

.text {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 100px;
  margin-top: 30px;
}
