.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  justify-content: center;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

.logoName {
  font-weight: bold;
  font-size: 32px;
  color: #40826d;
}



.logoDownTxt {
  font-weight: 200;
  font-size: 14px;
  font-weight: 500;
  color: #0a6145;

}

.linksList {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 18px;
  font-weight: 500;
  color: #0a6145;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #993366;
}

.active {
  color: #993366;
}

.active:hover {
  color: #0a6145;
}
