.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.ttitle {
  font-size: 18px;
  font-family: cursive sans-serif;
  /* color: rgb(30, 95, 73); */
}

.input {
  height: 35px;
  margin-left: 20px;
  background-color: #ffdae2;
  width: 300px;
  border-radius: 8px;
  border-color: #ffdae2;
 
}

.button {
  width: 200px;
  height: 30px;
  border-radius: 8px;
 
  background-color: #ffdae2;
  cursor: pointer;
  /* color: #40826d; */

  box-shadow: 0 0 5px #c999a4, 0 0 10px #c999a4, 0 0 20px #c999a4,
  0 0 100px #c999a4;
}

.button:hover {
  box-shadow: 0 0 5px #9e737d, 0 0 10px #9e737d, 0 0 20px #9e737d,
    0 0 100px #9e737d;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
