.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
  padding: 24px 64px;
  margin-top: 32px;
  border-radius: 4px;
  box-shadow: 0px 2px 16px 0px #993366;
  width: 1440px;
  height: 120px;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 1170px;
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 692px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    width: 440px;
    height: 80px;
    margin-left: 106px;
    /* flex-direction: column;
    justify-content: flex-end; */
    /* gap: 10px; */
  }
}
