.btn {
  background-color: #ffdae2;
  width: 130px;
  border: none;
  border-radius: 8px;
  color: #993366;
  flex-grow: 1;
  font-size: 16px;
  padding: 8px 24px;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 0 5px #c999a4, 0 0 10px #c999a4, 0 0 20px #c999a4,
  0 0 100px #c999a4;
}

.btnLogout:hover {
  box-shadow: 0 0 5px #9e737d, 0 0 10px #9e737d, 0 0 20px #9e737d,
  0 0 100px #9e737d;
position: relative;
transition-property: background-color, color;
transition-duration: 0.5s;
transition-timing-function: ease-out;
  color: #40826d;
}

.userName {
  font-weight: 500;
  margin: 0 0 16px;
}
